header{
  margin:20px 120px;
}

.mulish-normal {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.nav-logo p{
  
  background-color: #458ff6;
  
  width: 40px;
  height: 41px;
  border-radius: 50%;
  font-size: 26px;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}
.nav-logo h2{
  color: #233348;
  font-size: 24px;
  font-weight:700;
}
.navbar-li ul {
  display: flex;
  gap: 40px;

}
.navbar-li li{
  font-size: 18px;
  color:rgb(116, 115, 114);
  list-style: none;
}



/* banner section style */

.banner-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  gap: 110px;
}
.banner-title{
  font-size: 48px;
}
.banner-descript{
  font-size: 21px;
  color: rgba(125, 121, 135, 1);
}
.banner-btn {
  
  color: white;
  font-size: 18px;
  padding:16px ;
  border-radius: 30px;
  border: none;
  background-color: rgba(69, 143, 246, 1);
}
.banner-section img{
  width: 420px;
}